{% extends 'main/base.html' %}

{% block title %} Add New Post {% endblock %}

{% block content %}
<div class="row">
    <h1>Add new post</h1>
    <div class="col">

        <form action="{% url 'main:add_post' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
            {% csrf_token %}

            <input name="title" type="text" placeholder="Title" class="form-control" required minlength="5" />
            <textarea name="content" class="form-control" required ></textarea>

            <div class="form-check form-switch">
                <input name="is_published" value="True" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">is publihed</label>
            </div>

                <h5>Category:</h5>
                <select name="category" class="form-select" aria-label="Default select example">
                    {% for val, cat in category %}
                        <option value={{val}}>{{cat}}</option>
                    {% endfor %}
                </select>

            <h5>Choose Image:</h5>
            <input name="image"  type="file"  accept="image/*" class="form-control"/>

            <input type="submit" class="btn" value="Add Post" style="color:aliceblue; background: linear-gradient(#e66464b2, #e5b791);"/>
        </form>
    </div>

</div>
{% endblock %}