{% extends 'main/base.html' %}

{% block title %} BLOG | ALL POST {% endblock %}


{% block content %}

    <div class="row g-4">

        <div class="d-flex justify-content-between align-items-center">
            <h2>All Posts <span style="color: rgb(128, 128, 128); font-size: large;">({{ posts.count }})</span> </h2>

            <div class="d-flex gap-2">
                <a href="{% url 'main:all_posts' %}" class="p-2 ps-3 pe-3 rounded-pill cat text-decoration-none">All</a>
                {% for val, key in category %}
                    <a href="?cat={{val}}" class="p-2 ps-3 pe-3 rounded-pill cat {{ val }} text-decoration-none">{{val}}</a>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="row mt-2 g-5">

        {% for post in posts %}
            <div class="col-4">
                <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                    <img src="{{ post.image.url }}"  class="w-100 rounded-4"/>
                    <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{post.category}} ">{{ post.category }}</h6>
                    <h3><a href="{% url 'main:post_detail' post.id  %}" class="text-decoration-none">{{post.title}}</a></h3>
                    <h6 class="text-muted">{{ post.published_at }}</h6>
                    <small>{{ post.is_published }}</small>
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}