{% extends 'main/base.html' %}

{% block title %} Blog Website {% endblock %}

{% block content %}
<div class="row">

    <div class="col">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Latest Posts</h1>
            <a class="btn" href="{% url 'main:add_post' %}" style="color: aliceblue; background: linear-gradient(#e66465, #e5b791);">Add Post</a>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            <a class="btn" href="{% url 'main:all_posts' %}" style="color: aliceblue; background: linear-gradient(#368ca794, #bebebea1);">View All</a>
        </div>
        <div class="row mt-4">
            
            {% for post in posts %}
            <div class="col-4">
                <div class="d-flex flex-column gap-1 border border-1 shadow p-3 rounded-4 h-100">
                    <img src="{{ post.image.url }}"  class="w-100 rounded-4"/>
                    <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{post.category}} ">{{ post.category }}</h6>
                    <h3><a href="{% url 'main:post_detail' post.id  %}" class="text-decoration-none">{{post.title}}</a></h3>
                    <h6 class="text-muted">{{ post.published_at }}</h6>
                    <a href="?pub={{post.is_published}}" style="color: black; text-decoration: none;"><small>{{ post.is_published }}</small></a>

                </div>
            </div>
            {% endfor %}
        
        </div>
        
    </div>
</div>
{% endblock %}