{% extends 'main/base.html' %}

{% block title %}Not Exist Blog{% endblock %}

{% block content %}
    <div class="video-container">
        <video src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/pexels_videos_2646392%20(1080p).mp4?alt=media&token=93d9c6c8-870e-4760-893a-519fa5948de5"></video>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img class="w-50 img-not-found" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/warning.png?alt=media&token=00497718-1702-4f0e-a2bb-03d05be300da" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <p class="not-found-text">Page not Found</p>
        </div>
    </div>
{% endblock %}