{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        <h1>Search</h1>
        <div class="col">
            <form action="{% url 'main:search_results_view' %}" method="GET" class="d-flex flex-column gap-2">
                {% csrf_token %}

                <label for="category">Category:</label>
                <select id="category" name="category" class="form-select">
                    <option value="">All</option>
                    <option value="general">General</option>
                    <option value="fashion">Fashion</option>
                    <option value="tech">Tech</option>
                    <option value="science">Science</option>
                </select>

                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <div id="search-results">
                <!-- This is where the search results will be displayed -->
            </div>
        </div>
    </div>
{% endblock %}