{% extends 'main/base.html' %}

{% block title %} Add new blog post {% endblock %}


{% block content %}
    <div class="row">

    <div class="col-6">
        <h1>Add blog post</h1>
        
        <form action="{% url 'main:add_content_view' %}" method="POST" class="d-flex flex-column gap-2">
            {% csrf_token %}
            <input type="text" name="title" placeholder="title" class="form-control"/>
    
            <textarea name="content" placeholder="content" class="form-control"></textarea>
    
            <input type="submit" value="Add Post"  class="btn btn-primary"/>
    
        </form>
    </div>


    </div>


{% endblock %}