{% extends "main/base.html" %}

{% block title %}Post Update{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="d-flex flex-column p-3 mt-3">
            <input type="text" name ="title" value ="{{ post.title }}" >
            <input type="file" name ="poster" accept='image/*' value ="{{post.poster.url}}" >
            <textarea name="content" placeholder="content" class="form-control">  {{ post.content }}</textarea>
            <h6>{{post.published_at}}</h6>
            <a href="{% url "main:update_post" post.id %}" class="btn btn-primary" class='form-control'>Update</a>
        </div> 
    </div>  
</div>

{% endblock  %}


