{% extends 'main/base.html' %} 
{% load static %}
{% block title %} Update Post {% endblock %}
{% block content %}
<div class="form-container">
  <form action="{% url "main:update_post_view" post.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Title input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <h5>Title:</label>
      <input type="text" id="title" name="title" value="{{post.title}}"
       class="form-control mt-1" required />
    </div>

    <!-- catagory input -->
    <div class="form-outline mb-4">
      <h5>category:</h5>
      <select id="category" name="category" class="form-select mt-1">
        {% for val,cat in categories %}
        <option value="{{val}}" {% if post.category == val %} selected {% endif %}>{{cat}}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Message input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <h5>Content:</h5>
      <textarea class="form-control" name="content" id="content"
       rows="4" required>{{post.content}}
    </textarea>
    </div>

    <div class="form-outline mb-4">
      <h5>Poster Image:</h5>
      <img src="{{post.poster.url}}" alt="">
      <input name="poster" type="file" 
        accept=".jpg, .jpeg, .png, .jpeg" class="form-control" />
    </div>

    <!-- Checkbox -->
    <div class="form-switch d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        role="switch"
        value="True"
        id="is_published"
        name="is_published"
        {% if post.is_published %}checked{% endif %}
      />
      <label class="form-check-label" for="is_published">
        Is it published?
      </label>
    </div>
    <!-- Submit button -->
    <button
      id="submit_post"
      data-mdb-ripple-init
      type="submit"
      class="btn btn-primary"
    >
      Update
    </button>
  </form>
</div>
{% endblock %}
