{% extends 'main/base.html' %} 
{% load static %}
{% block form_js %}
<script src="{% static "js/form.js" %}"></script>
{% endblock form_js %}
{% block title %} add post {% endblock %}
{% block content %}
<div class="form-container">
  <form action="{% url "main:add_post_view" %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Title input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <h5>Title:</label>
      <input type="text" id="title" name="title" value="{{post.title}}"
       class="form-control mt-1" required />
    </div>

    <!-- Message input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <h5>Content:</h5>
      <textarea class="form-control" name="content" id="content"
       rows="4" required>{{post.content}}
    </textarea>
    </div>

    <div class="form-outline mb-4">
      <h5>Poster Image:</h5>
      <img src="{{post.poster.url}}" alt="">
      <input name="poster" value={{post.poster}} type="file" 
        accept=".jpg, .jpeg, .png, .jpeg" class="form-control" />
    </div>

    <!-- Checkbox -->
    <div class="form-switch d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        role="switch"
        value="{{post.is_published}}"
        id="is_published"
        name="is_published"
        {% if post.is_published %}checked{% endif %}
      />
      <label class="form-check-label" for="is_published">
        Is it published?
      </label>
    </div>
    <!-- Submit button -->
    <button
      id="submit_post"
      data-mdb-ripple-init
      type="submit"
      class="btn btn-primary"
    >
      Post
    </button>
  </form>
</div>
{% endblock %}
