body {
  background-color: rgba(128, 128, 128, 0.422);
}
main {
  display: grid;
  min-height: 100svh;
  grid-template-rows: 4rem calc(100% - 8rem);
  grid-template-columns: 100%;
}
.table{
  display: grid;
  grid-template-columns: 90% 10;
  grid-template-rows: 10%;
  max-width: 100%;
  

}
.post p span{
  font-weight: 600;
}
.post{
  background-color: rgba(128, 128, 128, 0.574);
  border-radius: 30px;
}
.post h2,.post p{
  background-color: rgba(250, 244, 244, 0.46);
  border-radius: 40px;
  padding: 10px 20px;
}
.form-container {
  margin-top: 3rem;
  display: grid;
  width: 100%;
  justify-content: center;
  align-content: center;
  grid-row: 2;
}
.form-container form {
  align-content: center;
  justify-content: center;
  max-width: 30rem;
  width: 50rem;
  background-color: rgba(116, 152, 152, 0.541);
  border-radius: 30px;
  padding: 15px;
}

.div_published_at {
  display: none;
}
@media (max-width: 450px) {
  .form-container {
    grid-template-columns: 1% 98% 1%;
  }
}
