{% extends 'Website/base.html' %}

{% block title %} {% endblock %}

{% block content %}
    <div class="row">

    <div class="col-6">
        <h1>Add Post</h1>
        
        <form action="{% url 'Website:add_post' %}" method="POST" class="d-flex flex-column gap-2">
            {% csrf_token %}
            <input type="text" name="title" placeholder="title" class="form-control"/>
            
    
            <textarea name="content" placeholder="content" class="form-control"></textarea>
            <input type="is_published" name="is_published" placeholder="is_published"class="form-control"/>
            <input type="datetime-local" name="published_at" placeholder="published_at"class="form-control"/>
           

    
            <input type="submit" value="Add Post"  class="btn btn-primary"/>
    
        </form>
    </div>


    </div>


{% endblock %}