{% extends 'main/base.html' %}

{% block title %} Add new Blog {% endblock %}


{% block content %}
    <div class="row">

    <div class="col-6">
        <h1>Add Blog</h1>
        
        <form action="{% url 'main:add_page' %}" method="POST" class="d-flex flex-column gap-2">
            {% csrf_token %}
            <input type="text" name="title" placeholder="title" class="form-control"/>
    
            <textarea name="content" placeholder="content" class="form-control"></textarea>

            <input type="datetime-local" name="published_at" placeholder="published_at" class="form-control"/>

             <input type="checkbox" name="is_published" value="True" checked>Published</input>

            <input type="submit" value="Add Blog"  class="btn btn-primary"/>
    
        </form>
    </div>


    </div>


{% endblock %}